.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: transparent;
    z-index: 1;
}

.load-image{
    transform: scaleX(-1);
}

.header-shop{
    color: #404343;
    font-size: 50px;
    margin-top: -8px;
    margin-left: -50px;
}

.spinner {
    width: 84px;
    height: 84px;
    border: 8px solid;
    margin-right: 100px;
    border-color: #787980 transparent #6b7398 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}